.product-page-container{
    width: 90vw;
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.img-container{
    height: 300px;
    max-width: 200px;
}
.img-container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.qua-cnt{
    max-width: 200px;
}
.add{
    border: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.add:hover{
    background-color: rgb(5, 190, 5);
}
.top,
.heart,
.base{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes-text{
    margin-right: 10px;

}
