.product-container-page{
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.img-container-page{
    height: 300px;
    max-width: 200px;
}
.img-container-page>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}