.product-page-container{
    width: 90vw;
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.img-container{
    height: 300px;
    max-width: 200px;
}
.img-container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.qua-cnt{
    max-width: 200px;
}
.add{
    border: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.add:hover{
    background-color: rgb(5, 190, 5);
}
.top,
.heart,
.base{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes-text{
    margin-right: 10px;

}
.categories{
    font-weight: bold;
    width: 300px;
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
}
.categories>div span{
    font-weight: normal;
}
.notes-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
    margin-left: 10px;
}
.notes-container{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
    width: 300px;
}
.top,
.heart,
.base{
    font-weight: bold;
}
.single-text{
    font-weight: normal;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.product-info > div:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;
}
.product-info > div:nth-child(2){
    font-size: 1rem;
    color: gray;
    margin-bottom: 10px;
    text-decoration: underline;
}