.cart-page-container{
    width: 85vw;
    height: 1000px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.3);
    padding: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 1200px;
}
.product-page-info{
    display: flex;
    border-bottom: 1px solid grey;
    padding: 1rem;
}
.page-image-container{
    width: 70px;
    height: 100px;
    border-right: 1px solid grey;
    
}
.page-image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 5px;
}
.cart-product-info{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.product-page-name{
    font-size: 1.2rem;
    color: grey;
}
.product-page-brand{
    font-size: 1.3rem;
    font-weight: bold;
}

.delete{
    color: grey;
    text-decoration: underline;
    text-decoration: red underline;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
}
.delete:hover{
    color: red;
    
}

.quantity-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.minus,
.plus{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(198, 194, 194);
    cursor: pointer;
    border: none;
}
.minus{
    color: rgb(64, 64, 64);
}
.plus{
    color: black;
}




.order-summary{


}

.delivery-title{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid grey;
}
.order-date-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.order-date{
    font-size: 1.2rem;
}

.input-check{
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.payment-summary{
    padding: 1rem;
    background-color: rgb(214, 198, 198)
}
.pay-text{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.pay-cost{
    font-size: 1.2rem;
    color: green;
}
.pay-cost>button{
    margin-left: 1rem;
    border: none;
    background-color: green;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.pay-cost>button:hover{
    background-color: rgb(89, 212, 89);
}