.footer-container{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    padding: 3rem;
    font-size: 1.3rem;
    justify-self: bottom;
}
.footer-first-row{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.footer-text{
    text-decoration: underline;
    cursor: pointer;
}