header{
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.company-icon{
    font-size: 2rem;
    cursor: pointer;
}
.middle-section{
    flex-grow: 1;
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.search-input{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.types-container{
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}
.type{
    padding: 1rem 1.5rem;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.type:hover{
    cursor: pointer;
    background-color: rgb(202, 191, 191);
    color: white;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.icons-header{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.active-link .type{
    text-decoration: underline;
}
.inactive-link .type{
    text-decoration: none;
}
.cart-container{
    position: relative;
}
.cart-count{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.header-products{
    padding: 1rem;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    color: black;
    display: none;
    z-index: 5;
    max-height: 270px;
    overflow: hidden;
    top: 40px;
    
}
.single-search-product{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    cursor: pointer;

}
.single-search-product:hover{
    background-color: rgb(243, 238, 238);
}
.show-ref{
    display: block;
}
.header-products>a{
    text-decoration: none;
}