.form-singup{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
}
.form-singup input{
    padding: 2px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-singup button{
    padding: 10px;
    font-size: 16px;
    background-color: #0b7a0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}
.form-singup button:hover{
    background-color: #1dcf26;
}


/* Profile Page Styles */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: auto;
    margin-top: 3rem;
    padding: 1.5rem 0.5rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.username{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}