*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
}
html,body{
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.main-content{
    min-height: 100vh;
}
.footer{
    margin-top: auto;
}