.best-sellers-container{
    width: 90vw;
    margin: auto;
    margin-top: 2rem
}
.title-best{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.perfumes-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-width: none;
}
.perfumes-container::-webkit-scrollbar {
    display: none;
}
.scroll-wrapper{
    position: relative;
}
.arrow-left{
    position: absolute;
    top: 50%;
    left: 0px;
    cursor: pointer;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right: -5px;
    cursor: pointer;
}
.image-container{
    width: 150px;
    height: 200px;
}
.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-best{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 200px 35px 45px;
    place-items: center;
    cursor: pointer;
    place-content: center;
}
.flex-best:hover .child{
    text-decoration: underline;
}
.perfum-brand{
   color: rgb(121, 117, 117);
   margin-top: 0.5rem;
   margin-bottom: 0.2rem;
   text-align: center;
}
.perfum-name{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.perfum-type{
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.arrivals{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 768px){
    .arrow-left,
    .arrow-right{
        display: none;
    }
}
@media screen and (min-width: 1220px){
    .arrow-left,
    .arrow-right{
        display: none;
    }
}
.quantity-container{
    display: grid;
    max-width: 150px;
    grid-template-columns: 50px;
    gap: 5px;
}
.input-quantity{
    width: 25px;
}
.quantity-div{
    width: 25px;
    text-decoration: underline 2px green;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-btn{
    padding: 0.3rem;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
}
.add-btn{
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(5, 197, 5);
}
.save-btn,
.edit-btn{
    cursor: pointer;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(194, 186, 186);
}
.save-btn:hover,
.edit-btn:hover{
    background-color: rgb(203, 201, 201);
}
.kontener{
    display: flex;
    flex-direction: column;
    align-items: center;
}