.best-sellers-container{
    width: 90vw;
    margin: auto;
    margin-top: 2rem
}
.title-best{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.perfumes-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.image-container{
    width: 150px;
    height: 200px;
}
.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-best{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfum-brand{
   color: rgb(121, 117, 117);
   margin-top: 0.5rem;
   margin-bottom: 0.2rem;
}
.perfum-name{
    font-size: 1.2rem;
    font-weight: bold;
}
.perfum-type{
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.arrivals{
    margin-top: 5rem;
    padding-bottom: 5rem;
}